// Fonts and texts
//
// Font styling.
//
// Styleguide 1.0

body {
  @include font-body;
  color: $color-black;
  font-size: 1.3125em;
  line-height: 1.5em;
  font-weight: 300;
}

.ja-supersizetitle,
%ja-supersizetitle {
  @include font-title;
  font-weight: 200;
  margin: 0;
  letter-spacing: -1px;
  font-size: 9rem;
  line-height: 1.125em;
  margin-bottom: 2rem;
}

.ja-h1,
%ja-h1 {
  @include font-title;
  margin: 0;
  letter-spacing: -1px;
  font-size: 3.2rem;
  line-height: 1.125em;
}

.ja-h2,
%ja-h2 {
  @include font-title;
  letter-spacing: -1px;
  font-weight: 200;
  font-size: 2.6rem;
  line-height: 1.125em;
  margin: 0;
}
%mo-h2--fontbody {
  @include font-body;
}

.ja-h3,
%ja-h3 {
  @include font-title;
  margin: 0;
  font-size: 2.3rem;
  line-height: 1.5em;
  font-weight: 300;
}
.ja-h4,
%ja-h4 {
  font-size: 1.8rem;
}

.ja-h4,
%ja-h4 {
  font-size: 1.4rem;
}

.ja-uppercase {
  text-transform: uppercase;
}

p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 143%;
  margin: 0 0 20px;
}

strong {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

.mo-smalltext {
  font-size: 14px;

  @include breakpoint(tablet-and-up) {
    font-size: 16px;
  }
}