html {
  position: relative;
  height: 100%;
  font-size: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background: $color-white-light;

  &.ja__white {
    background: $color-white;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

.ja-bodytopnav {
  padding-top: $topnav-height;
}
.ja-app-container {
  width: 100%;
  height: 100%;
}
.ja-bg {
  background-image: url("../images/jalo_splash_bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}