.ja-text-aligncenter {
  text-align: center;
}

.ja-text-italic {
  font-style: italic;
}

.ja-text-color,
%ja-text-color {
  &--white {
    color: $color-white;
  }
}

.ja-text-uppercase {
  text-transform: uppercase;
}