// Inputs
//
// Atoms are the most basic buildingblocks
//
// .ja-button--purple - purple color
// .ja-button--green - green color
// .ja-button--black - black color
// Default - No color
//
// markup:
// <div class="ja-button {$modifiers}">button</div>
//
// Styleguide 2.2

.ja_input {
  position: relative;
  @include font-title;
  margin: 0 0 2rem 0;

  &__input {
    background-color: rgba(255,255,255, 0.3);
    border: none;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid $color-white;

    &:focus {
      background-color: rgba(255,255,255, 0.5);
    }
  }

  &__label {
    @include transition-all;
    pointer-events:none;
    color: $color-black;
    position: absolute;
    top: 0.5rem;
    left: 0.75rem;
    font-size: 100%;
    cursor: text;

    .ja_input__input:valid ~ &,
    .ja_input__input:focus ~ & {
      color: $color-white;
      font-size: 0.85rem;
      transform: translateY(-110%);
    }
  }

  &__highlight {
    position: absolute;
    height: 60%;
    width: 100%;
    top: 0%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;

    .ja_input__input:focus ~ & {
      animation: inputHighlighter 0.3s ease;
    }
  }

  &__bar {
    position: relative;
    display: block;
    width: 100%;

    &:before,
    &:after {
      @include transition-all;
      content: '';
      height: 2px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: $color-white;
    }

    &:before {
      left: 50%;
    }

    &:after {
      right: 50%;
    }

    .ja_input__input:focus ~ & {
      &:after,
      &:before {
        width: 50%;
      }
    }
  }
}

@keyframes inputHighlighter {
  from {
    background: $color-white;
  }
  to  {
    width:0;
    background: transparent;
  }
}
