.ja-topnav {
  background: $color-white;
  border-bottom: 1px solid #e7e7e7;
  height: $topnav-height;
  z-index: $zindex1;
  color: $color-black;
  position: relative;

  &__title {
    line-height: $topnav-height;
  }
  &__backbtn {
    border: 0;
    background: none;
    height: $topnav-height;
    width: $topnav-height;
    position: absolute;
    line-height: $topnav-height;
    text-align: center;
    top: 0;
    left: 0;
    cursor: pointer;
  }
}

