.ja-topnav {
  height: $topnav-height;
  z-index: $zindex1;
  color: $color-white;
  position: relative;
  backface-visibility: hidden;
  width: 100%;
  background: linear-gradient(to right, #2D5491 0%, #662D91 59%, #602A91 87%);

  &__logo {
    padding: 6px 0px 5px 10px;
    margin: 0;
    display: block;

    &inner {
      border: 2px solid $color-white;
      display: inline-block;
      padding: 7px;
      height: 39px;
      @extend %ja-h4;
      font-size: 2rem;
    }
    &img {
      width: 40px;
      margin: 0 auto;
    }
  }

  &__backbtn {
    border: 0;
    background: none;
    height: $topnav-height;
    width: $topnav-height;
    position: absolute;
    line-height: $topnav-height;
    text-align: center;
    top: 0;
    left: 0;
    cursor: pointer;
  }

  &__item {
    border-left: 1px solid rgba(0,0,0,0.3);
    height: $topnav-height;
    float: left;

    &--noborder {
      border-left: 0;
    }
  }

  &__close {
    line-height: $topnav-height;
    width: $topnav-height;
    height: $topnav-height;
    background-repeat: no-repeat;
    text-indent: -999px;
    background-position: center center;
    display: block;

  }
  &__right {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__login {
    line-height: $topnav-height;
    height: 100%;
    padding: 15px 12px;

    &__icon {
      vertical-align: middle;
    }
  }

  &--white {
    background: $color-white;
    border-bottom: 1px solid $color-grey;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $zindex1;

    .ja-topnav__logoinner {
      border-color: $color-black;
      color: $color-black;
    }
  }
}

.expand-nav {
  background-position: center 18px;
  background-size: 26px;
  background-repeat: no-repeat;
  color: $color-white;
  display: block;
  line-height: 54px;
  padding: 0 18px;
  text-indent: -9999px;
  width: 64px;
}