.ja-topnav {
  background: $color-white;
  border-bottom: 1px solid #e7e7e7;
  height: 45px;
  z-index: $zindex1;
  color: $color-black;
}

.ja-hamburger {
  border: 0;
  background: none;
  height: 45px;
  width: 45px;
  float: left;
  cursor: pointer;
  svg {
    stroke: $color-black;
  }
}

