.ja-modal {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $zindex9;
  background: $color-white;

  &__content {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 70px 10px 50px;
    position: relative;
  }

  &--purple {
    background: $color-purple;
    color: $color-white;
  }
}