.ja-topnav {
  height: $topnav-height;
  z-index: $topnav-zindex;
  color: $color-white;
  position: relative;
  backface-visibility: hidden;
  width: 100%;
  background: linear-gradient(to right, #2D5491 0%, #662D91 59%, $color-purple 87%);
  position: fixed;
  top: 0;
  left: 0;

  &__logo {
    padding: 6px 0px 5px 10px;
    margin: 0;
    display: block;

    &inner {
      border: 2px solid $color-white;
      display: inline-block;
      padding: 7px;
      height: 39px;
      @extend %ja-h4;
      font-size: 2rem;
    }

    &img {
      width: 40px;
      margin: 0 auto;
    }
  }

  &__item {
    border-left: 1px solid $color-border-darker;
    height: $topnav-height;
    float: left;
    cursor: pointer;

    &:hover {
      background: $color-border-darker;
    }

    &--noborder {
      border-left: 0;
    }
  }

  &__close {
    line-height: $topnav-height;
    width: $topnav-height;
    display: block;
    text-align: center;
    height: 100%;
    line-height: $topnav-height;
    @include font-size(26);
    color: $color-black;

    &:hover {
      color: white;
    }
  }

  &__right {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__login {
    line-height: $topnav-height;
    height: 100%;
    padding: 15px 12px;

    &__icon {
      vertical-align: middle;
    }
  }

  &__hamburger {
    color: $color-white;
    display: block;
    text-align: center;
    height: 100%;
    line-height: $topnav-height;
    @include font-size(26);
    width: 64px;

    .ja-topnav--purple & {
      border-bottom: 1px solid $color-purple;
      background-color: $color-purple;
    }
  }

/*
Modifiers
*/

  &--white {
    background: $color-white;
    border-bottom: 1px solid $color-grey;

    .ja-topnav__logoinner {
      border-color: $color-black;
      color: $color-black;
    }
  }

  &--purple {
    background: $color-purple;
    border-bottom: 1px solid rgba(0,0,0,0.3);
  }
}