html {
  position: relative;
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
  height: 100%;
}
*

.ja-bg {
  background-image: url("../images/jalo_splash_bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}