/*
Whites and greys
*/
$color-black: #333333;
$color-black-lighter: #777;
$color-black-light: #999999;
$color-white: #ffffff;
$color-white-light: #f6f9fa;
$color-athensgrey: #e9eaed;
$color-grey: #cccccc;

/*
Fill colors
*/
$color-green: #3aa497;
$color-turquoise: #259db8;
$color-purple: #662D91;
$color-purple-darkened: #675691;
$color-red-dark: #BC3159;
$color-valid: #3c0;
$color-invalid: #f33;

/*
Opacity colors
*/
$color-white-rgba: rgba(white,.4);
$color-black-rgba: rgba(#ccc,.4);
$color-border: rgba(0, 0, 0, 0.15);