<div class="ja-container">
  <header class="ja-topnav">
    <a href="/" class="ja-topnav__logo"><div class="ja-topnav__logoinner"><img src="images/jalo_logo_noiconwhite.svg" alt="" class="ja-topnav__logoimg"></div></a>
    <div class="ja-topnav__right">
      <div class="ja-topnav__item">
        <a class="ja-icon--hamburger ja-topnav__hamburger" href="/menu"></a>
      </div>
      <div class="ja-topnav__item">
        <a class="ja-topnav__login ja-h4" href="/profile"><i class="ja-topnav__login__icon ja-icon--person"></i> Omat</a>
      </div>
    </div>
  </header>
  <div class="ja-header-floating">
    <div class="ja-grid">
      <div class="ja-question">
        <h3 class="ja-question__header ja-textaligncenter ja-h3">Minkälaista työtä tarjoat?</h3>
        <div class="ja-formarea">
          <div class="ja-formarea__item">
            <a href="/modal" class="ja-multipleselect">
              <p class="ja-eyebrow-note">Työnimi</p>
              <div class="ja-multipleselect__name">Kotitöitä</div>
            </a>
          </div>
        <a href="#" class="ja-button {{#if buttonActive}}ja-button--purple {{else}} ja-button--grey{{/if}} ja-question__button">Jatka</a>
      </div>
    </div>
  </div>
</div>