<div class="container-js">
  <header class="ja-topnav">
    <a href="/" class="ja-topnav__logo"><div class="ja-topnav__logoinner"><img src="images/jalo_logo_noiconwhite.svg" alt="" class="ja-topnav__logoimg"></div></a>
    <div class="ja-topnav__right">
      <div class="ja-topnav__item">
        <a class="ja-icon--hamburger ja-topnav__hamburger" href="/menu"></a>
      </div>
      <div class="ja-topnav__item">
        <a class="ja-topnav__login ja-h4" href="/login">Kirjaudu <i class="ja-topnav__login__icon ja-icon--arrow-right"></i></a>
      </div>
    </div>
  </header>
  <div class="ja-grid">
    <div class="ja-question">
      <h3 class="ja-question__header ja-textaligncenter ja-h3">Mitä haluat kertoa työntekijälle?</h3>
      <div class="ja-formarea__item">
        <div class="ja-textarea">
          <textarea id="textarea" rows="3" class="ja-textarea__input" required></textarea>
          <span class="ja-textarea__validation-message">Oikein!</span>
          <span class="ja-textarea__highlight"></span>
          <span class="ja-textarea__bar"></span>
          <label for="textarea" class="ja-textarea__label">Kerro se tässä!</label>
        </div>
      </div>
      <a href="/details3" class="ja-button ja-button--purple ja-question__button">Jatka</a>
    </div>
  </div>
</div>