<div class="container-js">
  <header class="ja-topnav">
    <a href="/home" class="ja-topnav__logo"><div class="ja-topnav__logoinner"><img src="images/jalo_logo_noiconwhite.svg" alt="Jalo" class="ja-topnav__logoimg"></div></a>
    <div class="ja-topnav__right">
      <div class="ja-topnav__item">
        <a class="ja-icon-navtoggle expand-nav ja-inlineicon--navtogglewhite" href="#">Nav</a>
      </div>
      <div class="ja-topnav__item">
        <a class="ja-topnav__login ja-h4" href="/login">Kirjaudu <i class="ja-topnav__login__icon icon--arrow-right"></i></a>
      </div>
    </div>
  </header>
  <div class="ja-grid">
    <div class="ja-question">
      <h3 class="ja-question__header ja-textaligncenter ja-h3">Minkälaista työtä tarjoat?</h3>
      <div class="ja-formarea">
        <div class="ja-formarea__item">
          <a href="/modal" class="ja_multipleselect">
            <p class="ja-eyebrow-note">Työnimi</p>
            <div class="ja_multipleselect__name">Kotitöitä</div>
          </a>
        </div>
        <div class="ja-formarea__item">
          <a href="/modal" class="ja_multipleselect ja_multipleselect--unselected">
            <p class="ja-eyebrow-note">Valitse</p>
            <div class="ja_multipleselect__name">Työ</div>
          </a>
        </div>
      </div>
      <a href="/login" class="ja-button ja-button--grey ja-question__button">Jatka</a>
    </div>
  </div>
</div>