<div class="ja-container">
  <header class="ja-topnav">
    <a href="/" class="ja-topnav__logo"><div class="ja-topnav__logoinner"><img src="images/jalo_logo_noiconwhite.svg" alt="" class="ja-topnav__logoimg"></div></a>
    <div class="ja-topnav__right">
      <div class="ja-topnav__item">
        <a class="ja-icon--hamburger ja-topnav__hamburger" data-hook="menu-open"></a>
      </div>
      <div class="ja-topnav__item">
        <a class="ja-topnav__login ja-h4" href="/profile"><i class="ja-topnav__login__icon ja-icon--person"></i> Omat</a>
      </div>
    </div>
  </header>
  <div class="ja-header-floating">
    <div class="ja-grid">
      <div class="ja-question">
        <h3 class="ja-question__header ja-textaligncenter ja-h3">Olemme valinnut sinulle sopivimmat tekijät</h3>
        <p>Valitse alla olevasta listasta neljä (4) tekijää, joille lähetetään työpyyntö.</p>
        <p>Saat tunnin (1h) sisällä tietää ottaako kukaan heistä työn vastaan.</p>
        <ul class="ja-person-list">
          <li class="ja-person-list__item" data-hook="ja-person-list__item">
            <div class="ja-person-list__imagecontent">
              <div class="ja-person-list__statusicon ja-icon--circle"></div>
              <div class="ja-person-list__imagewrap">
                <img src="images/placeholder-author.jpg" class="ja-person-list__image">
              </div>
            </div>
            <div class="ja-person-list__name">Jason</div>
          </li>
          <li class="ja-person-list__item" data-hook="ja-person-list__item">
            <div class="ja-person-list__imagecontent">
              <div class="ja-person-list__statusicon ja-icon--circle"></div>
              <div class="ja-person-list__imagewrap">
                <img src="images/placeholder-author-2.jpg" class="ja-person-list__image">
              </div>
            </div>
            <div class="ja-person-list__name">Matti-Teppo</div>
          </li>
          <li class="ja-person-list__item" data-hook="ja-person-list__item">
            <div class="ja-person-list__imagecontent">
              <div class="ja-person-list__statusicon ja-icon--circle"></div>
              <div class="ja-person-list__imagewrap">
                <img src="images/placeholder-author-3.jpg" class="ja-person-list__image">
              </div>
            </div>
            <div class="ja-person-list__name">Pedro</div>
          </li>
          <li class="ja-person-list__item" data-hook="ja-person-list__item">
            <div class="ja-person-list__imagecontent">
              <div class="ja-person-list__statusicon ja-icon--circle"></div>
              <div class="ja-person-list__imagewrap">
                <img src="images/placeholder-author-4.jpg" class="ja-person-list__image">
              </div>
            </div>
            <div class="ja-person-list__name">Lauri</div>
          </li>
          <li class="ja-person-list__item" data-hook="ja-person-list__item">
            <div class="ja-person-list__imagecontent">
              <div class="ja-person-list__statusicon ja-icon--circle"></div>
              <div class="ja-person-list__imagewrap">
                <img src="images/placeholder-author-5.jpg" class="ja-person-list__image">
              </div>
            </div>
            <div class="ja-person-list__name">Mikko</div>
          </li>
          <li class="ja-person-list__item" data-hook="ja-person-list__item">
            <div class="ja-person-list__imagecontent">
              <div class="ja-person-list__statusicon ja-icon--circle"></div>
              <div class="ja-person-list__imagewrap">
                <img src="images/placeholder-author-6.jpg" class="ja-person-list__image">
              </div>
            </div>
            <div class="ja-person-list__name">Ilkka</div>
          </li>
          <li class="ja-person-list__item" data-hook="ja-person-list__item">
            <div class="ja-person-list__imagecontent">
              <div class="ja-person-list__statusicon ja-icon--circle"></div>
              <div class="ja-person-list__imagewrap">
                <img src="images/placeholder-author-7.jpg" class="ja-person-list__image">
              </div>
            </div>
            <div class="ja-person-list__name">Pontus</div>
          </li>
          <li class="ja-person-list__item" data-hook="ja-person-list__item">
            <div class="ja-person-list__imagecontent">
              <div class="ja-person-list__statusicon ja-icon--circle"></div>
              <div class="ja-person-list__imagewrap">
                <img src="images/placeholder-author-8.jpg" class="ja-person-list__image">
              </div>
            </div>
            <div class="ja-person-list__name">Roland</div>
          </li>
        </ul>
        <a href="#" class="ja-button ja-button--grey ja-question__button" id="ja-choose-person" data-hook="sendsms">Jatka</a>
      </div>
    </div>
  </div>
</div>