<div class="ja-bg">
  <div class="ja-grid" style="height: 100%;">
    <div class="ja-splash">
      <img src="images/jalo_logo.svg" alt="Jalo logo" class="ja-splash__logo">
      <h1 class="ja-splash__promise-text">Kaikki tarvitsevat välillä jeesiä. <br />Meillä olet aidosti avuksi.</h1>
      <div class="ja-splash__buttons">
        <a href="/login" class="ja-button ja-button--white ja-button--fullwidth">Kirjaudu</a>
        <a href="/jobdetails" class="ja-splash__register">Onko sinulla jo työ?</a>
      </div>
    </div>
  </div>
</div>