<div class="ja-bg">
  <div class="ja-grid" style="height: 100%;">
    <div class="ja-splash">
      <img src="images/jalo_logo.svg" alt="Jalo logo" class="ja-splash__logo">
      <div class="ja-splash__buttons">
        <a href="/login" class="ja-button ja-button--purple ja-button--fullwidth">Kirjaudu</a>
        <a href="/jobdetails" class="ja-button ja-button--white ja-button--fullwidth">Katso duuni</a>
      </div>
    </div>
  </div>
</div>