<div class="ja-bg">
  <div class="ja-grid" style="height: 100%;">
    <div class="ja-splash">
      <img src="images/jalo_logo.svg" alt="Jalo logo" class="ja-splash__logo">
      <div class="ja-splash__buttons">
        <a href="/login" class="ja-button ja-button--purple ja-button--fullwidth">Kirjaudu</a>
        <a href="#" class="ja-button ja-button--white ja-button--fullwidth">Rekister&#xF6;idy</a>
      </div>
    </div>
  </div>
</div>