<div class="ja-bg">
  <div class="ja-grid">
    <div class="ja-splash">
      <h1 class="ja-textaligncenter ja-supersizetitle ja-textcolor--white">Jalo</h1>
      <div class="ja-splash__buttons">
        <a href="/login" class="ja-button ja-button--purple">Kirjaudu</a>
        <a href="#" class="ja-button ja-button--white ">Rekister&#xF6;idy</a>
      </div>
    </div>
  </div>
</div>