<div class="container-js">
  <header class="ja-topnav">
    <a href="/" class="ja-topnav__logo"><div class="ja-topnav__logoinner"><img src="images/jalo_logo_noiconwhite.svg" alt="" class="ja-topnav__logoimg"></div></a>
    <div class="ja-topnav__right">
      <div class="ja-topnav__item">
        <a class="ja-icon--hamburger ja-topnav__hamburger" href="/menu"></a>
      </div>
      <div class="ja-topnav__item">
        <a class="ja-topnav__login ja-h4" href="/login">Kirjaudu <i class="ja-topnav__login__icon ja-icon--arrow-right"></i></a>
      </div>
    </div>
  </header>
  <div class="ja-hero ja-hero--margin-bottom">
    <div class="ja-hero__slide">
      <div class="ja-hero__gradient"></div>
      <div class="ja-hero__imagewrap">
        <img src="images/placeholder-hero.jpg" alt="Placeholder image" class="ja-hero__image">
      </div>
      <div class="ja-hero__content">
        <div class="ja-text-aligncenter">
          <h1 class="ja-h2">Siivoo mun hima</h1>
          <h3 class="ja-h4">K채ytt채j채lt채 <strong>Klinkki</strong></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="ja-grid">
    <p>Intelligentsia brunch art party lomo. Drinking vinegar umami leggings slow-carb, bespoke post-ironic shabby chic gastropub Godard semiotics fixie distillery viral mlkshk biodiesel. Forage Godard tilde gluten-free irony disrupt, hashtag banh mi roof party Intelligentsia gastropub Kickstarter cronut.</p>
    <p>Heirloom lomo +1 disrupt scenester, put a bird on it flannel dreamcatcher Blue Bottle Echo Park meditation salvia. Sustainable McSweeney's selfies, organic four dollar toast tofu Schlitz locavore Kickstarter migas Bushwick meggings PBR tattooed. Pork belly Echo Park Brooklyn trust fund, next level paleo flexitarian freegan Pitchfork. Farm-to-table sustainable 3 wolf moon typewriter church-key.</p>
  </div>
</div>