<div class="ja-container">
  <header class="ja-topnav">
    <a href="/" class="ja-topnav__logo"><div class="ja-topnav__logoinner"><img src="images/jalo_logo_noiconwhite.svg" alt="" class="ja-topnav__logoimg"></div></a>
    <div class="ja-topnav__right">
      <div class="ja-topnav__item">
        <a class="ja-icon--hamburger ja-topnav__hamburger" href="/menu"></a>
      </div>
      <div class="ja-topnav__item">
        <a class="ja-topnav__login ja-h4" href="/profile"><i class="ja-topnav__login__icon ja-icon--person"></i> Omat</a>
      </div>
    </div>
  </header>
  <div class="ja-hero">
    <div class="ja-hero__slide">
      <div class="ja-hero__gradient"></div>
      <div class="ja-hero__imagewrap">
        <img src="images/placeholder-hero.jpg" alt="Placeholder image" class="ja-hero__image">
      </div>
      <div class="ja-hero__content">
        <div class="ja-job ja-grid">
          <h1 class="ja-job__title">Renkaiden vaihto</h1>
        </div>
      </div>
    </div>
  </div>
  <ul class="ja-section-list ja-section-list--bordered">
    <li class="ja-section-list__item">
      <div class="ja-job-author">
        <div class="ja-job-author__cell">
          <div class="ja-job-author__imagewrap">
            <img src="images/placeholder-author.jpg" class="ja-job-author__image" alt="Author">
          </div>
        </div>
        <div class="ja-job-author__cell">
          <span class="ja-job-author__name">Evgenia</span>
        </div>
      </div>
    </li>
    <li class="ja-section-list__item">
      <div class="ja-job-author ja-job-author--right">
        <div class="ja-job-author__cell">
          <div class="ja-job-author__name ja-job-author__name--right">Kruunuhaka</div>
          <div class="ja-job-author__subtitle ja-job-author__subtitle--right">noin 400m</div>
        </div>
        <div class="ja-job-author__cell">
          <div class="ja-job-author__imagewrap">
            <img src="images/placeholder-map.jpg" class="ja-job-author__image" alt="Map">
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="ja-grid">
    <p>Tule luokseni vaihtamaan auton renkaat. Renkaat ovat ullakolla, josta en itse jaksa renkaita kantaa alas. Voin myös keittää kaffet.</p>
  </div>
  <div class="ja-floatingbutton">
    <div class="ja-floatingbutton__inner">
      <a href="#" class="ja-button ja-button--purple ja-button--fullwidth">Ilmottaudu</a>
    </div>
  </div>
</div>