<div class="ja-bg">
  <div class="ja-grid" style="height: 100%;">
    <div class="ja-splash">
      <img src="images/jalo_logo.svg" alt="Jalo logo" class="ja-splash__logo">
      <form class="ja-splash__form">
        <div class="ja_input">
          <input id="kayttajatunnus" type="text" class="ja_input__input" required>
          <span class="ja_input__highlight"></span>
          <span class="ja_input__bar"></span>
          <label for="kayttajatunnus" class="ja_input__label">Käyttäjätunnus</label>
        </div>
        <div class="ja_input ja_input--nomargin">
          <input id="password" type="password" class="ja_input__input" required>
          <span class="ja_input__highlight"></span>
          <span class="ja_input__bar"></span>
          <label for="password" class="ja_input__label">Salasana</label>
        </div>
         <a href="/details" class="ja-button ja-button--purple ja-button--fullwidth">Kirjaudu</a>
      </form>
    </div>
  </div>
</div>