<div class="ja-bg">
      <div class="ja-grid">
        <div class="ja-splash">
          <h1 class="ja-textaligncenter ja-supersizetitle ja-textcolor--white">Jalo</h1>
          <form>
            <div class="ja_input">
              <input id="kayttajatunnus" type="text" class="ja_input__input" required>
              <span class="ja_input__highlight"></span>
              <span class="ja_input__bar"></span>
              <label for="kayttajatunnus" class="ja_input__label">Käyttäjätunnus</label>
            </div>
            <div class="ja_input">
              <input id="password" type="password" class="ja_input__input" required>
              <span class="ja_input__highlight"></span>
              <span class="ja_input__bar"></span>
              <label for="password" class="ja_input__label">Salasana</label>
            </div>
             <a href="details.html" class="ja-button ja-button--purple ja-button--fullwidth">Kirjaudu</a>
          </form>
        </div>
      </div>
    </div>