<div class="ja-modal ja-modal--purple">
  <header class="ja-topnav ja-topnav--purple">
    <a href="/" class="ja-topnav__logo"><div class="ja-topnav__logoinner"><img src="images/jalo_logo_noiconwhite.svg" alt="Jalo" class="ja-topnav__logoimg"></div></a>
    <div class="ja-topnav__right">
      <div class="ja-topnav__item">
        <a class="ja-icon--hamburger ja-topnav__hamburger" href="/details"></a>
      </div>
      <div class="ja-topnav__item">
        <a class="ja-topnav__login ja-h4" href="/login">Kirjaudu <i class="ja-topnav__login__icon ja-icon--arrow-right"></i></a>
      </div>
    </div>
  </header>

  <div class="ja-modal__content">
   <nav class="ja-nav">
    <ul class="ja-nav__expanded">
      <li class="ja-nav__expanded__list"><a href="/">Home</a></li>
      <li class="ja-nav__expanded__list"><a href="/login">Login</a></li>
      <li class="ja-nav__expanded__list"><a href="/details">Details</a></li>
    </ul>
    <ul class="ja-nav__expanded ja-nav__expanded--sub">
      <li class="ja-nav__expanded__list"><a href="#">Logout</a></li>
      <li class="ja-nav__expanded__list"><a href="#">About us</a></li>
      <li class="ja-nav__expanded__list"><a href="#">Work for us</a></li>
    </ul>
  </nav>
  </div>
</div>