<div class="ja-modal">
  <header class="ja-topnav ja-topnav--white">
    <a href="/" class="ja-topnav__logo"><div class="ja-topnav__logoinner"><img src="images/jalo_logo_noicon.svg" alt="Jalo" class="ja-topnav__logoimg"></div></a>
    <div class="ja-topnav__right">
      <div class="ja-topnav__item ja-topnav__item--noborder">
        <a class="ja-topnav__close ja-icon--close" href="/details"></a>
      </div>
    </div>
  </header>

  <div class="ja-modal__content">
    <div class="ja-grid">
      <div class="ja-answerlist">
        <h3 class="ja-answerlist__header ja-h3">What would you prefer?</h3>
        <ul class="ja-list">
          <li class="ja-list__item"><a href="/details/">messenger bag</a></li>
          <li class="ja-list__item"><a href="/details/">food truck</a></li>
          <li class="ja-list__item"><a href="/details/">Portland</a></li>
          <li class="ja-list__item"><a href="/details/">mustache</a></li>
          <li class="ja-list__item"><a href="/details/">Williamsburg</a></li>
          <li class="ja-list__item"><a href="/details/">polaroid</a></li>
          <li class="ja-list__item"><a href="/details/">Shoreditch</a></li>
          <li class="ja-list__item"><a href="/details/">flannel</a></li>
          <li class="ja-list__item"><a href="/details/">Craft beer </a></li>
          <li class="ja-list__item"><a href="/details/">seitan</a></li>
          <li class="ja-list__item"><a href="/details/">Wes Anderson</a></li>
          <li class="ja-list__item"><a href="/details/">hashtag</a></li>
          <li class="ja-list__item"><a href="/details/">American Apparel</a></li>
          <li class="ja-list__item"><a href="/details/">I bet you’re still using Bootstrap too…</a></li>
          <li class="ja-list__item"><a href="/details/">gluten-free</a></li>
          <li class="ja-list__item"><a href="/details/">etsy</a></li>
          <li class="ja-list__item"><a href="/details/">organic</a></li>
          <li class="ja-list__item"><a href="/details/">you probably haven't heard of them</a></li>
          <li class="ja-list__item"><a href="/details/">iPhone</a></li>
          <li class="ja-list__item"><a href="/details/">Meggings</a></li>
          <li class="ja-list__item"><a href="/details/">messenger bag</a></li>
          <li class="ja-list__item"><a href="/details/">food truck</a></li>
          <li class="ja-list__item"><a href="/details/">Portland</a></li>
          <li class="ja-list__item"><a href="/details/">mustache</a></li>
          <li class="ja-list__item"><a href="/details/">Williamsburg</a></li>
          <li class="ja-list__item"><a href="/details/">polaroid</a></li>
          <li class="ja-list__item"><a href="/details/">Shoreditch</a></li>
          <li class="ja-list__item"><a href="/details/">flannel</a></li>
          <li class="ja-list__item"><a href="/details/">Craft beer </a></li>
          <li class="ja-list__item"><a href="/details/">seitan</a></li>
          <li class="ja-list__item"><a href="/details/">Wes Anderson</a></li>
          <li class="ja-list__item"><a href="/details/">hashtag</a></li>
          <li class="ja-list__item"><a href="/details/">American Apparel</a></li>
          <li class="ja-list__item"><a href="/details/">I bet you’re still using Bootstrap too…</a></li>
          <li class="ja-list__item"><a href="/details/">gluten-free</a></li>
          <li class="ja-list__item"><a href="/details/">etsy</a></li>
          <li class="ja-list__item"><a href="/details/">organic</a></li>
          <li class="ja-list__item"><a href="/details/">you probably haven't heard of them</a></li>
          <li class="ja-list__item"><a href="/details/">iPhone</a></li>
          <li class="ja-list__item"><a href="/details/">Meggings</a></li>
          <li class="ja-list__item"><a href="/details/">messenger bag</a></li>
          <li class="ja-list__item"><a href="/details/">food truck</a></li>
          <li class="ja-list__item"><a href="/details/">Portland</a></li>
          <li class="ja-list__item"><a href="/details/">mustache</a></li>
          <li class="ja-list__item"><a href="/details/">Williamsburg</a></li>
          <li class="ja-list__item"><a href="/details/">polaroid</a></li>
          <li class="ja-list__item"><a href="/details/">Shoreditch</a></li>
          <li class="ja-list__item"><a href="/details/">flannel</a></li>
          <li class="ja-list__item"><a href="/details/">Craft beer </a></li>
          <li class="ja-list__item"><a href="/details/">seitan</a></li>
          <li class="ja-list__item"><a href="/details/">Wes Anderson</a></li>
          <li class="ja-list__item"><a href="/details/">hashtag</a></li>
          <li class="ja-list__item"><a href="/details/">American Apparel</a></li>
          <li class="ja-list__item"><a href="/details/">I bet you’re still using Bootstrap too…</a></li>
          <li class="ja-list__item"><a href="/details/">gluten-free</a></li>
          <li class="ja-list__item"><a href="/details/">etsy</a></li>
          <li class="ja-list__item"><a href="/details/">organic</a></li>
          <li class="ja-list__item"><a href="/details/">you probably haven't heard of them</a></li>
          <li class="ja-list__item"><a href="/details/">iPhone</a></li>
          <li class="ja-list__item"><a href="/details/">Meggings</a></li>

        </ul>
      </div>
    </div>
  </div>
</div>