<div class="ja-container">
  <header class="ja-topnav">
    <a href="/" class="ja-topnav__logo"><div class="ja-topnav__logoinner"><img src="images/jalo_logo_noiconwhite.svg" alt="" class="ja-topnav__logoimg"></div></a>
    <div class="ja-topnav__right">
      <div class="ja-topnav__item">
        <a class="ja-icon--hamburger ja-topnav__hamburger" href="/menu"></a>
      </div>
      <div class="ja-topnav__item">
        <a class="ja-topnav__login ja-h4" href="/profile"><i class="ja-topnav__login__icon ja-icon--person"></i> Omat</a>
      </div>
    </div>
  </header>
  <div class="ja-header-floating">
    <div class="ja-settings">
      <div class="ja-settings__bg" style="background-image: url(images/placeholder-author.jpg);"></div>
      <div class="ja-settings__bg-gradient"></div>
      <div class="ja-grid ja-settings__content">
        <div class="ja-answerlist">
          <h3 class="ja-answerlist__header ja-h3">Aiemmin tehdyt duunit</h3>
          <ul class="ja-list ja-list--with-bg">
            <li class="ja-list__item"><a href="/details-done">Kotitöitä</a></li>
            <li class="ja-list__item"><a href="/details-done">Siivoushommia</a></li>
            <li class="ja-list__item"><a href="/details-done">Autohommat</a></li>
            <li class="ja-list__item"><a href="/details-done">Perushommat</a></li>
            <li class="ja-list__item"><a href="/details-done">Kaikenlaista</a></li>
            <li class="ja-list__item"><a href="/details-done">Koiratouhuja</a></li>
            <li class="ja-list__item"><a href="/details-done">Oksien keräilyä</a></li>
            <li class="ja-list__item"><a href="/details-done">IT:tä</a></li>
            <li class="ja-list__item"><a href="/details-done">Mitä mä en tarjoa?!</a></li>
            <li class="ja-list__item"><a href="/details-done">Ruuanlaittoo</a></li>
            <li class="ja-list__item"><a href="/details-done">Hierousjuttui</a></li>
            <li class="ja-list__item"><a href="/details-done">Räppii</a></li>
            <li class="ja-list__item"><a href="/details-done">Koodii</a></li>
            <li class="ja-list__item"><a href="/details-done">Leikkausta</a></li>
            <li class="ja-list__item"><a href="/details-done">Maalausta</a></li>
            <li class="ja-list__item"><a href="/details-done">Kukkien kastelua</a></li>
            <li class="ja-list__item"><a href="/details-done">Halkoja</a></li>
            <li class="ja-list__item"><a href="/details-done-done">Ostoksien hakemista</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>