<div class="ja-container">
  <header class="ja-topnav">
    <a href="/" class="ja-topnav__logo"><div class="ja-topnav__logoinner"><img src="images/jalo_logo_noiconwhite.svg" alt="" class="ja-topnav__logoimg"></div></a>
    <div class="ja-topnav__right">
      <div class="ja-topnav__item">
        <a class="ja-icon--hamburger ja-topnav__hamburger" data-hook="menu-open"></a>
      </div>
      <div class="ja-topnav__item">
        <a class="ja-topnav__login ja-h4" href="/profile"><i class="ja-topnav__login__icon ja-icon--person"></i> Omat</a>
      </div>
    </div>
  </header>
  <div class="ja-header-floating">
    <div class="ja-settings">
      <div class="ja-settings__bg" style="background-image: url(images/placeholder-author.jpg);"></div>
      <div class="ja-settings__bg-gradient"></div>
      <div class="ja-grid ja-settings__content">
        <div class="ja-settings__imagewrap">
          <img src="images/placeholder-author.jpg" alt="" class="ja-settings__image">
        </div>
        <h3 class="ja-settings__authorname ja-text-aligncenter">Emily Graham</h3>
        <div class="ja-button-list">
          <a href="/settings" class="ja-button-list__item ja-button-list__item--first">Muuta asetuksia</a>
          <a href="/previous-work" class="ja-button-list__item">Aikasemmin tehdyt työt</a>
          <a href="/" class="ja-button-list__item  ja-button-list__item--last">Kirjaudu ulos</a>
        </div>
      </div>
    </div>
  </div>
</div>