<div class="ja-container">
  <header class="ja-topnav">
    <a href="/" class="ja-topnav__logo"><div class="ja-topnav__logoinner"><img src="images/jalo_logo_noiconwhite.svg" alt="" class="ja-topnav__logoimg"></div></a>
    <div class="ja-topnav__right">
      <div class="ja-topnav__item">
        <a class="ja-icon--hamburger ja-topnav__hamburger" href="/menu"></a>
      </div>
      <div class="ja-topnav__item">
        <a class="ja-topnav__login ja-h4" href="/profile"><i class="ja-topnav__login__icon ja-icon--person"></i> Omat</a>
      </div>
    </div>
  </header>
  <div class="ja-header-floating">
    <div class="ja-settings">
      <div class="ja-settings__bg" style="background-image: url(images/placeholder-author.jpg);"></div>
      <div class="ja-settings__bg-gradient"></div>
      <div class="ja-grid ja-settings__content">
        <div class="ja-settings__imagewrap">
          <img src="images/placeholder-author.jpg" alt="" class="ja-settings__image">
        </div>
        <h3 class="ja-settings__authorname ja-text-aligncenter">Emily Graham</h3>
        <form class="ja-settings-form">
          <div class="ja-input" >
            <input id="id1" class="ja-input__input" value="Emily Graham">
            <span class="ja-input__validation-message"></span>
            <span class="ja-input__highlight"></span>
            <span class="ja-input__bar"></span>
            <label for="id1" class="ja-input__label"><i class="ja-icon--person"></i> Nimi</label>
          </div>
          <div class="ja-input">
            <input id="id2" class="ja-input__input" value="+358 40 123 459">
            <span class="ja-input__validation-message"></span>
            <span class="ja-input__highlight"></span>
            <span class="ja-input__bar"></span>
            <label for="id2" class="ja-input__label"><i class="ja-icon--phone"></i> Puhelinnumero</label>
          </div>
          <div class="ja-input">
            <input id="id2" class="ja-input__input" value="emily@graham.com">
            <span class="ja-input__validation-message"></span>
            <span class="ja-input__highlight"></span>
            <span class="ja-input__bar"></span>
            <label for="id2" class="ja-input__label"><i class="ja-icon--email"></i> Sähköpostiosoite</label>
          </div>
          <a href="/profile" class="ja-button ja-button--purple ja-button--fullwidth ja-settings-form__submit">Tallenna</a>
        </form>
      </div>
    </div>
  </div>
</div>