<div class="ja-container">
  <header class="ja-topnav">
    <a href="/" class="ja-topnav__logo"><div class="ja-topnav__logoinner"><img src="images/jalo_logo_noiconwhite.svg" alt="" class="ja-topnav__logoimg"></div></a>
    <div class="ja-topnav__right">
      <div class="ja-topnav__item">
        <a class="ja-icon--hamburger ja-topnav__hamburger" data-hook="menu-open"></a>
      </div>
      <div class="ja-topnav__item">
        <a class="ja-topnav__login ja-h4" href="/settings"><i class="ja-topnav__login__icon ja-icon--person"></i> Omat</a>
      </div>
    </div>
  </header>
  <div class="ja-header-floating">
    <div class="ja-grid">
      <div class="ja-question">
        <h3 class="ja-question__header ja-textaligncenter ja-h3">Kiva kun kirjauduit Emily!</h3>
        <p>Sinulla ei ole t채ll채 hetkell채 uusia duuneja tarjolla. Mutta tarvitsetko itse apua?</p>
        <p>Luo siin채 tapauksessa alla olevasta napista duuni palveluun!</p>
        <a href="/details" class="ja-button ja-button--purple ja-question__button">Luo duuni</a>
      </div>
    </div>
  </div>
</div>