// Inputs
//
// These are Jalo's inputs. Label positioning is done with 100% css.
//
// markup:
// <div class="ja_input">
//   <input id="password" type="password" class="ja_input__input" required>
//   <span class="ja_input__highlight"></span>
//   <span class="ja_input__bar"></span>
//   <label for="password" class="ja_input__label">Salasana</label>
// </div>
//
// Styleguide 2.2

.ja_input {
	position: relative;
	@include font-title;
	margin: 0 0 ($element-margin*1.5) 0;

	&--nomargin {
		margin-bottom: $element-margin;
	}

	&__input {
		background-color: rgba(255,255,255, 0.5);
		border: none;
		border-radius: 0;
		outline: none;
		height: 5rem;
		width: 100%;
		@extend %ja-h3;
		margin: 0;
		padding: 0 10px;
		border-bottom: 1px solid $color-white;

		&:focus {
			background-color: rgba(255,255,255, 0.8);
		}
	}

	&__label {
		@include transition-all;
		pointer-events:none;
		color: $color-black;
		position: absolute;
		top: 1rem;
		left: 1rem;
		@extend %ja-h3;
		cursor: text;

		.ja_input__input:valid ~ &,
		.ja_input__input:focus ~ & {
			color: $color-white;
			@include font-size(14);
			left: 0;
			transform: translateY(-170%);
		}
	}

	&__highlight {
		position: absolute;
		height: 60%;
		width: 100%;
		top: 0%;
		left: 0;
		pointer-events: none;
		opacity: 0.5;

		.ja_input__input:focus ~ & {
			@include animation('inputHighlighter 0.3s ease');
		}
	}

	&__bar {
		position: relative;
		display: block;
		width: 100%;

		&:before,
		&:after {
			@include transition-all;
			content: '';
			height: 2px;
			width: 0;
			bottom: 1px;
			position: absolute;
			background: $color-white;
		}

		&:before {
			left: 50%;
		}

		&:after {
			right: 50%;
		}

		.ja_input__input:focus ~ & {
			&:after,
			&:before {
				width: 50%;
			}
		}
	}
}