// Inputs
//
// These are Jalo's inputs. Label positioning is done with 100% css.
//
// default          - Default state
// .ja-input--is-valid - valid
// .ja-input--is-invalid - invalid
//
// Markup:
// <div class="ja-input {$modifiers}">
//   <input id="username" type="text" class="ja-input__input" required>
//   <span class="ja-input__highlight"></span>
//   <span class="ja-input__bar"></span>
//   <label for="username" class="ja-input__label">Salasana</label>
// </div>
//
// Styleguide 2.2

.ja-input {
	position: relative;
	@include font-title;
	margin: ($element-margin) 0 0 0;

	&--nomargin {
		margin-bottom: $element-margin;
	}

	&__input {
    @include transition-all;
		border: 1px solid $color-black-light;
    background-color: $color-white;
		border-radius: 0;
		outline: none;
		height: 5rem;
		width: 100%;
		@extend %ja-h4;
    color: $color-black;
    font-weight: 400;
		margin: 0;
		padding: 0 10px;

		&:focus {
			background-color: $color-white-light;
      border-color: $color-purple;
		}
	}

	&__label {
		@include transition-all;
		pointer-events:none;
		color: $color-black;
		position: absolute;
    @extend %ja-h4;
		top: 1.8rem;
		left: 1rem;
    border-radius: 5px;
    background: $color-white;
    padding: 2px 5px;
    color: $color-black-lighter;
		cursor: text;

		.ja-input__input:valid ~ &,
		.ja-input__input:focus ~ & {
			@include font-size(14);
			transform: translateY(-130%);
		}
	}

  &__validation-message {
    display: none;
    line-height: 5rem;
    @include font-body;
    @include font-size(12);
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 10px 0 0;
    text-transform: uppercase;
    white-space: nowrap;
  }

	&__highlight {
		position: absolute;
		height: 60%;
		width: 100%;
		top: 0%;
		left: 0;
		pointer-events: none;
		opacity: 0.5;

		.ja-input__input:focus ~ & {
			@include animation('inputHighlighter 0.3s ease');
		}
	}

	&__bar {
		position: relative;
		display: block;
		width: 100%;

		&:before,
		&:after {
			@include transition-all;
			content: '';
			height: 2px;
			width: 0;
			bottom: 1px;
			position: absolute;
			background: $color-purple;
		}

		&:before {
			left: 50%;
		}

		&:after {
			right: 50%;
		}

		.ja-input__input:focus ~ & {
			&:after,
			&:before {
				width: 50%;
			}
		}
  }

  &--is-invalid {
    .ja-input {
      &__input {
        border-color: $color-invalid;
      }

      &__validation-message {
        display: block;
        color: $color-invalid;
      }

      &__bar {
        &:before,
        &:after {
          background: $color-invalid;
        }
      }
    }
  }

  &--is-valid {
    .ja-input {
      &__input {
        border-color: $color-valid;
      }
      &__validation-message {
        display: block;
        color: $color-valid;
      }
      &__bar {
        &:before,
        &:after {
          background: $color-valid;
        }
      }
    }
  }
}