// List
//
// Basic listing
//
// markup:
// <ul class="ja-list">
//   <li class="ja-list__item"><a href="#">messenger bag</a></li>
//   <li class="ja-list__item"><a href="#">food truck</a></li>
// </ul>
//
// Styleguide 2.4

.ja-list {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    @include font-title;
    font-weight: 400;
    margin: 0;
    letter-spacing: -1px;
    font-size: 2rem;
    display: block;
    line-height: 1.1em;
    border-bottom: 1px solid $color-grey;

    &:last-child {
      border-bottom: 0;
    }
    a {
      padding: 15px 10px;
      display: block;
      height: 100%;
      width: 100%;
    }

    &:hover {
      background: $color-purple;
      color: $color-white;
    }
  }
  &--with-bg {
    .ja-list__item {
      background-color: $color-white;

      &:hover {
        background-color: $color-purple;
        color: $color-white;
      }
    }
  }
}