.ja-modal {
  height: 100%;

  &__content {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 70px 10px 50px;
    position: relative;
  }

  &--purple {
    background: $color-purple;
    color: $color-white;
  }
}