.ja_multipleselect {
  border: 1px solid $color-black-light;
  box-shadow: $color-athensgrey 0 0 0 3px inset;
  display: table;
  height: 100%;
  padding: 10px 10px 18px;
  position: relative;
  width: 100%;
  cursor: pointer;

  &__name {
    @extend %ja-h3;
    font-weight: 400;
    color: $color-purple;
    line-height: 1.2em;
    margin: 0;
    position: relative;

    &:after {
      @include animation('transform 0.3s ease-in-out', 'top 0.2s ease-in-out');
      border: 6px solid transparent;
      border-top: 6px solid currentColor;
      content: '';
      display: block;
      height: 0;
      margin: 5px 0 -4px -12px;
      width: 0;
      position: absolute;
      left: 100%;
      top: 0;
    }
  }

  &--unselected {
    border-color: $color-grey;
    .ja_multipleselect__name,
    .ja-eyebrow-note {
      color: $color-grey;
    }
  }
}