// Multiple select
//
// These are used instead of a typical html5 multiple select. The reason being the native is shit. This is not.
//
// markup:
// <a href="#" class="ja-multipleselect">
//   <p class="ja-eyebrow-note">Työnimi</p>
//   <div class="ja-multipleselect__name">Kotitöitä</div>
// </a>
//
// Styleguide 2.3

.ja-multipleselect {
  border: 1px solid $color-black-light;
  background-color: $color-white;
  box-shadow: $color-athensgrey 0 0 0 3px inset;
  display: table;
  height: 100%;
  padding: 10px 10px 18px;
  position: relative;
  width: 100%;
  cursor: pointer;

  &__name {
    @extend %ja-h3;
    font-weight: 400;
    color: $color-purple;
    line-height: 1.2em;
    margin: 0;
    position: relative;

    &:after {
      @include icon-arrow-down--small;
    }
  }

  &--unselected {
    border-color: $color-grey;
    .ja-multipleselect__name,
    .ja-eyebrow-note {
      color: $color-grey;
    }
  }
}