.ja-modal {
  height: 620px;
  &__content {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 90px 18px 50px;
    position: relative;
  }
  &--purple {
    background: $color-purple;
    color: $color-white;
  }
}