.ja-nav {
  &__expanded {
    list-style: none;
    margin: 0;
    padding: 0;
    @extend %ja-h1;
    text-transform: uppercase;
    font-weight: 600;

    &__list {
      margin-bottom: 0.8rem;
    }

    &--sub {
      margin-top: $element-margin;
      @extend %ja-h3;
      font-weight: 300;
      text-transform: none;
    }
  }
}