// Select
//
// Typical select
//
// markup:
// <div class="ja-select">
// <select class="ja-select__select">
//   <option value="volvo">Volvo</option>
//   <option value="saab">Saab</option>
//   <option value="mercedes">Mercedes</option>
//   <option value="audi">Audi</option>
// </select>
// </div>
//
// Styleguide 2.5

.ja-select {
  width: 100%;
  background: $color-white;
  position: relative;
  height: 50px;
  color: $color-purple; // This gives the icon it's color

  &:after {
    @include icon-arrow-down--small;
    top: 18px;
    left: auto;
    right: 10px;
  }

  &__select {
    border-radius: 0;
    border: 1px solid $color-black-light;
    box-shadow: $color-athensgrey 0 0 0 3px inset;
    height: 100%;
    padding: 10px;
    position: relative;
    width: 100%;
    cursor: pointer;
    margin: 0;
    outline: 0;
    display: inline-block;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    background-clip: padding-box;
    @extend %ja-h4;
    font-weight: 400;
    color: $color-black;
    line-height: 1.2em;
    margin: 0;
  }
}