<div class="ja-popup">
  <div class="ja-popup__dimmed">
  <div class="ja-popup__modal">
    <div class="ja-popup__content">
     <h3 class="ja-h3">Onneksi olkoon!</h3>
     <p>Duuni on sinun!</p>
     <a href="#" class="ja-button ja-button--purple ja-button--fullwidth" data-hook="close">Sulje</a>
    </div>
  </div>
</div>