<div class="ja-modal ja-modal--purple">
  <header class="ja-topnav ja-topnav--purple">
    <a href="/" class="ja-topnav__logo"><div class="ja-topnav__logoinner"><img src="images/jalo_logo_noiconwhite.svg" alt="Jalo" class="ja-topnav__logoimg"></div></a>
    <div class="ja-topnav__right">
      <div class="ja-topnav__item">
        <a class="ja-icon--hamburger ja-topnav__hamburger" data-hook="close"></a>
      </div>
      <div class="ja-topnav__item">
        <a class="ja-topnav__login ja-h4" href="/profile"><i class="ja-topnav__login__icon ja-icon--person"></i> Omat</a>
      </div>
    </div>
  </header>

  <div class="ja-modal__content">
   <nav class="ja-nav">
    <ul class="ja-nav__expanded">
      <li class="ja-nav__expanded__list"><a href="/welcome">Koti</a></li>
      <li class="ja-nav__expanded__list"><a href="/details">Luo duuni</a></li>
      <li class="ja-nav__expanded__list"><a href="/profile">Profiilii</a></li>
    </ul>
    <ul class="ja-nav__expanded ja-nav__expanded--sub">
      <li class="ja-nav__expanded__list"><a href="/">Mikä Jalo?</a></li>
      <li class="ja-nav__expanded__list"><a href="/">Tule meille töihin</a></li>
      <li class="ja-nav__expanded__list"><a href="/">Kirjaudu ulos</a></li>
    </ul>
  </nav>
  </div>
</div>