<div class="ja-modal">
  <header class="ja-topnav ja-topnav--white">
    <a href="/" class="ja-topnav__logo"><div class="ja-topnav__logoinner"><img src="images/jalo_logo_noicon.svg" alt="Jalo" class="ja-topnav__logoimg"></div></a>
    <div class="ja-topnav__right">
      <div class="ja-topnav__item ja-topnav__item--noborder">
        <a class="ja-topnav__close ja-icon--close" data-hook="close"></a>
      </div>
    </div>
  </header>

  <div class="ja-modal__content">
    <div class="ja-grid">
      <div class="ja-answerlist">
        <h3 class="ja-answerlist__header ja-h3">Minkälaista työtä tarjoat?</h3>
        <ul class="ja-list">
          <li class="ja-list__item"><a href="/details-done">Kotitöitä</a></li>
          <li class="ja-list__item"><a href="/details-done">Siivoushommia</a></li>
          <li class="ja-list__item"><a href="/details-done">Autohommat</a></li>
          <li class="ja-list__item"><a href="/details-done">Perushommat</a></li>
          <li class="ja-list__item"><a href="/details-done">Kaikenlaista</a></li>
          <li class="ja-list__item"><a href="/details-done">Koiratouhuja</a></li>
          <li class="ja-list__item"><a href="/details-done">Oksien keräilyä</a></li>
          <li class="ja-list__item"><a href="/details-done">IT:tä</a></li>
          <li class="ja-list__item"><a href="/details-done">Mitä mä en tarjoa?!</a></li>
          <li class="ja-list__item"><a href="/details-done">Ruuanlaittoo</a></li>
          <li class="ja-list__item"><a href="/details-done">Hierousjuttui</a></li>
          <li class="ja-list__item"><a href="/details-done">Räppii</a></li>
          <li class="ja-list__item"><a href="/details-done">Koodii</a></li>
          <li class="ja-list__item"><a href="/details-done">Leikkausta</a></li>
          <li class="ja-list__item"><a href="/details-done">Maalausta</a></li>
          <li class="ja-list__item"><a href="/details-done">Kukkien kastelua</a></li>
          <li class="ja-list__item"><a href="/details-done">Halkoja</a></li>
          <li class="ja-list__item"><a href="/details-done-done">Ostoksien hakemista</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>