<header class="ja-topnav">
  <a href="index.html" class="ja-topnav__logo"><div class="ja-topnav__logoinner">Jalo</div></a>
  <div class="ja-topnav__right">
    <div class="ja-topnav__item">
      <a class="ja-icon-navtoggle expand-nav" href="#">Nav</a>
    </div>
    <div class="ja-topnav__item">
      <a class="ja-topnav__login ja-h4" href="login.html">Kirjaudu <i class="ja-topnav__login__icon icon--arrow-right"></i></a>
    </div>
  </div>
</header>

