<div class="ja-input" data-hook="inputwrap">
  <input id="{{name}}" class="ja-input__input">
  <span class="ja-input__validation-message" data-hook="message-text"></span>
  <span class="ja-input__highlight"></span>
  <span class="ja-input__bar"></span>
  <label for="{{name}}" data-hook="label" class="ja-input__label"></label>
</div>